body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.body {
  position: relative;
  top: 50vh;
}

.body.playing {
  animation: Playing 6700ms ease-in-out backwards;
  top: 0vh;
}

@keyframes Playing {
  0% {
    top: 50vh;
  }
  100% {
    top: 0vh;
  }
}

.audio {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.OIIACat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OIIA1 {
  animation: OIIA1 500ms infinite linear;
}

@keyframes OIIA1 {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
}

.OIIA2 {
  animation: OIIA2 500ms infinite linear;
}

@keyframes OIIA2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.OIIA3 {
  animation: OIIA3 1ms infinite linear;
}

@keyframes OIIA3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.OIIA4 {
  animation: OIIA4 500ms infinite ease-in;
}

@keyframes OIIA4 {
  0% {
    transform: translateX(-30px) translateY(-30px);
  } 
  25% {
    transform: translateX(30px) translateY(30px);
  }
  50% {
    transform: translateX(30px) translateY(-30px);
  }
  75% {
    transform: translateX(-30px) translateY(30px);
  }
  100% {
    transform: translateX(-30px) translateY(-30px);
  }

}

.OIIA5 {
  animation: OIIA5 500ms infinite ease;
}

@keyframes OIIA5 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.OIIA6 {
  animation: OIIA6 500ms infinite linear;
}

@keyframes OIIA6 {
  0%, 100% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(30deg);
  }
}

.OIIA7 {
  animation: OIIA7 1000ms infinite ease-in-out;
}

@keyframes OIIA7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.OIIA8 {
  animation: OIIA8 500ms infinite linear;
}

@keyframes OIIA8 {
  0%, 50%, 100% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(30deg);
  }
  75% {
    transform: skewX(-30deg);
  }
}

.OIIA9 {
  animation: OIIA9 500ms infinite ease-in-out;
}

@keyframes OIIA9 {
  0%, 100% {
    transform: scaleX(1) scaleY(1);
  }
  25% {
    transform: scaleX(1.3) scaleY(0.7);
  }
  50% {
    transform: scaleX(0.7) scaleY(1.3);
  }
  75% {
    transform: scaleX(1.3) scaleY(0.7);
  }
}

.OIIA10 {
  animation: OIIA10 500ms infinite linear;
}

@keyframes OIIA10 {
  0%, 100% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(-30deg);
  }
}

.OIIA11 {
  position: absolute;
  animation: OIIA11 1000ms infinite linear;
}

@keyframes OIIA11 {
  0% {
    transform: translate(0, 50%) rotate(0deg) scale(1);
  }
  5% {
    transform: translate(-400%, 420%) rotate(180deg) scale(8);
  }
  10% {
    transform: translate(30%, -300%) rotate(360deg) scale(3);
  }
  15% {
    transform: translate(600%, -200%) rotate(540deg) scale(5);
  }
  20% {
    transform: translate(-20%, 50%) rotate(720deg) scale(2);
  }
  25% {
    transform: translate(200%, -300%) rotate(900deg) scale(7);
  }
  30% {
    transform: translate(-400%, 300%) rotate(1080deg) scale(1);
  }
  35% {
    transform: translate(-90%, 100%) rotate(1260deg) scale(3);
  }
  40% {
    transform: translate(500%, -10%) rotate(1440deg) scale(1);
  }
  45% {
    transform: translate(100%, -500%) rotate(1620deg) scale(5);
  }
  50% {
    transform: translate(-600%, 500%) rotate(1800deg) scale(2);
  }
  55% {
    transform: translate(300%, 300%) rotate(1980deg) scale(5);
  }
  60% {
    transform: translate(-700%, -700%) rotate(2160deg) scale(4);
  }
  65% {
    transform: translate(200%, 200%) rotate(2340deg) scale(2);
  }
  70% {
    transform: translate(100%, -800%) rotate(2520deg) scale(7);
  }
  75% {
    transform: translate(400%, 600%) rotate(2700deg) scale(4);
  }
  80% {
    transform: translate(-300%, 300%) rotate(2880deg) scale(5);
  }
  85% {
    transform: translate(500%, 500%) rotate(3060deg) scale(1);
  }
  90% {
    transform: translate(200%, 900%) rotate(3240deg) scale(7);
  }
  95% {
    transform: translate(600%, 100%) rotate(3420deg) scale(3);
  }
  100% {
    transform: translate(0, 0) rotate(3600deg) scale(1);
  }
}